h1{
    color:tomato
}
h2{
    color:DodgerBlue
}
h3{
    color:MediumSeaGreen
}
p{
    color:gold
}
.title{
    color:slateblue
}
.section{
    color:deeppink

}
.highlight{
    color:darkorange

}
.big{
    color:mediumturquoise

}
#main{
    color:rebeccapurple
}
#special{
    color:lightslategray

}